<!-- ======= Cta Section ======= -->
@{
    IEnumerable<aspm.Models.NewsEvents> newsEvents = ViewBag.newsevent;
    IEnumerable<aspm.Models.Downloads> downloads = ViewBag.downloads;
    IEnumerable<aspm.Models.Vacancies> vacancies = ViewBag.vacancies;
    IEnumerable<aspm.Models.EventNGallarys> eventNGallarys = ViewBag.eventNGallarys;
    IEnumerable<aspm.Models.NoticeBoard> noticeboards = ViewBag.noticeboards;
    var count = 0;
}

<div id="featured-services" class="featured-services">
    <div class="container">

        <div class="dis-flex">
            <div class="">
                <div class="newsbdr" data-aos-delay="100">
                    <btn class="text-white"><b>LATEST @Html.Raw("@") APS MUMBAI </b></btn>
                </div>
            </div>

            <div class="red-marquee">
                <marquee class="marquee" direction="left">
                    <div class="marquee-inner">
                        @{
                            if (noticeboards != null)
                            {
                                foreach (var item in noticeboards)
                                {
                                    <span style="padding-left:10px;">@item.Description</span>
                                    }
                                }
                            }
                            @*<span>Ranked No. 10th Best School in india and 1st in Maharashtra by Education Department</span>*@
                        </div>
                </marquee>
            </div>
        </div>
    </div>

</div>
<section id="features" class="features">
    <div class="container">

        <div class="dis-flex">
            <div class="circulars">


                <div class="colm-bdr1 colmcdrdd">
                    <h3 class="text-white text-center block-title">LATEST CIRCULARS</h3>


                    @{
                        if (newsEvents != null)
                        {

                            foreach (var item in newsEvents)
                            {
                                var longDateValue = @item.Date.ToString("dd MMM yyyy");
                                var _date = "";
                                var _month = "";
                                var _year = "";
                                var longDateValuesplit = longDateValue.Split(' ');
                                _date = longDateValuesplit[0];
                                _month = longDateValuesplit[1];
                                _year = longDateValuesplit[2];
                                <div class="circular-pdf-wrapper">
                                    <div class="dis-flex">
                                        <div class="date bg-redd">
                                            <div class="dis-flex">
                                                <div class="day">@_date</div>
                                                <div class="month-year">
                                                    <div class="month">@_month</div>
                                                    <div class="year">@_year</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="file-name">
                                            <p><a style=" color: white;" href="~/Image/newsevents/@item.Name" target="_blank">@item.Description</a></p>
                                        </div>
                                    </div>
                                </div>

                            }


                        }


                    }

                    @*foreach (var item in newsEvents)
        {


        if (longDateValue != "") {
        var longDateValuesplit = longDateValue.Split(' ');
        _date = longDateValuesplit[0];
        _month = longDateValuesplit[1];
        _year = longDateValuesplit[2];
        }
        <div class="circular-pdf-wrapper">
            <div class="dis-flex">
                <div class="date bg-redd">
                    <div class="dis-flex">
                        <div class="day">@_date</div>
                        <div class="month-year">
                            <div class="month">@_month</div>
                            <div class="year">@_year</div>
                        </div>
                    </div>
                </div>

                <div class="file-name">
                    <p>@item.Name</p>
                </div>
            </div>
        </div>
        }*@
                    <!-- circular block start-->
                    <!-- circular block end-->
                    <!-- circular block start-->
                    <!--<div class="circular-pdf-wrapper">
        <div class="dis-flex">
            <div class="date bg-redd">
                <div class="dis-flex">
                    <div class="day">01</div>
                    <div class="month-year">
                        <div class="month">June</div>
                        <div class="year">2023</div>
                    </div>
                </div>
            </div>

            <div class="file-name">
                <p>Application Form ADM staff</p>
            </div>
        </div>
    </div>-->
                    <!-- circular block end-->
                    <!-- circular block start-->
                    <!--<div class="circular-pdf-wrapper">
        <div class="dis-flex">
            <div class="date bg-redd">
                <div class="dis-flex">
                    <div class="day">01</div>
                    <div class="month-year">
                        <div class="month">June</div>
                        <div class="year">2023</div>
                    </div>
                </div>
            </div>

            <div class="file-name">
                <p>Application Form ADM staff</p>
            </div>
        </div>
    </div>-->
                    <!-- circular block end-->
                    <!-- circular block start-->
                    <!--<div class="circular-pdf-wrapper">
        <div class="dis-flex">
            <div class="date bg-redd">
                <div class="dis-flex">
                    <div class="day">01</div>
                    <div class="month-year">
                        <div class="month">June</div>
                        <div class="year">2023</div>
                    </div>
                </div>
            </div>

            <div class="file-name">
                <p>Application Form ADM staff</p>
            </div>
        </div>
    </div>-->
                    <!-- circular block end-->
                    <!-- circular block start-->
                    <!--<div class="circular-pdf-wrapper">
        <div class="dis-flex">
            <div class="date bg-redd">
                <div class="dis-flex">
                    <div class="day">01</div>
                    <div class="month-year">
                        <div class="month">June</div>
                        <div class="year">2023</div>
                    </div>
                </div>
            </div>

            <div class="file-name">
                <p>Application Form ADM staff</p>
            </div>
        </div>
    </div>-->
                    <!-- circular block end-->
                    <!-- circular block start-->
                    <!--<div class="circular-pdf-wrapper">
        <div class="dis-flex">
            <div class="date bg-redd">
                <div class="dis-flex">
                    <div class="day">01</div>
                    <div class="month-year">
                        <div class="month">June</div>
                        <div class="year">2023</div>
                    </div>
                </div>
            </div>

            <div class="file-name">
                <p>Application Form ADM staff</p>
            </div>
        </div>
    </div>-->
                    <!-- circular block end-->
                    <!-- circular block start-->
                    <!--<div class="circular-pdf-wrapper">
        <div class="dis-flex">
            <div class="date bg-redd">
                <div class="dis-flex">
                    <div class="day">01</div>
                    <div class="month-year">
                        <div class="month">June</div>
                        <div class="year">2023</div>
                    </div>
                </div>
            </div>

            <div class="file-name">
                <p>Application Form ADM staff</p>
            </div>
        </div>
    </div>-->
                    <!-- circular block end-->
                    <!-- circular block start-->
                    <!--<div class="circular-pdf-wrapper">
        <div class="dis-flex">
            <div class="date bg-redd">
                <div class="dis-flex">
                    <div class="day">01</div>
                    <div class="month-year">
                        <div class="month">June</div>
                        <div class="year">2023</div>
                    </div>
                </div>
            </div>

            <div class="file-name">
                <p>Application Form ADM staff</p>
            </div>
        </div>
    </div>-->
                    <!-- circular block end-->
                    <!-- circular block start-->
                    <!--<div class="circular-pdf-wrapper">
        <div class="dis-flex">
            <div class="date bg-redd">
                <div class="dis-flex">
                    <div class="day">01</div>
                    <div class="month-year">
                        <div class="month">June</div>
                        <div class="year">2023</div>
                    </div>
                </div>
            </div>

            <div class="file-name">
                <p>Application Form ADM staff</p>
            </div>
        </div>
    </div>-->
                    <!-- circular block end-->
                    <!-- circular block start-->
                    <!--<div class="circular-pdf-wrapper">
        <div class="dis-flex">
            <div class="date bg-redd">
                <div class="dis-flex">
                    <div class="day">01</div>
                    <div class="month-year">
                        <div class="month">June</div>
                        <div class="year">2023</div>
                    </div>
                </div>
            </div>

            <div class="file-name">
                <p>Application Form ADM staff</p>
            </div>
        </div>
    </div>-->
                    <!-- circular block end-->




                </div>
            </div>



            <!-- Slider Column Start -->

            <div class="events-gallery">
                <div class="colm-bdr">
                    <h3 class="text-danger text-center block-title text-red">EVENTS GALLERY</h3>
                    <!-- Slider Column Start -->
                    <div class="owl-carousel event-gallery-carousel owl-theme">
                        @if (eventNGallarys != null)
                        {
                            foreach (var item in eventNGallarys)
                            {
                                <div class="item text-center">
                                    <a href="https://www.apsmumbai.com/Image/eventngallary/@item.Name" data-lightbox="gallery">
                                        <img src="https://www.apsmumbai.com/Image/eventngallary/@item.Name" alt="">
                                        <h4>@item.Description</h4>
                                    </a>
                                </div>
                            }



                            @*<div class="item text-center">
                                <a href="~/website/html/assets/img/features.png" data-lightbox="gallery">
                                    <img src="~/website/html/assets/img/features.png" alt="">
                                    <h4>Title Here</h4>
                                </a>
                            </div>*@



                        }
                    </div>

                    </div>

            </div>
            <!-- Slider Column Start -->



        </div>
    </div>


</section>



<!-- End Cta Section -->
<!-- ======= About Us Section ======= -->
<div style="background-image: url(/website/html/assets/img/pare_bg.png); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <section id="about" class="about">
        <div class="container">

            <div class="dis-flex flex-align-items-center">

                <div class="about-content mobile-view121">
                    <p class="text-shedow1">Dear Parents,</p>
                    <p class="text-shedow1">“Education is the passport to the future, for tomorrow belongs to those who prepare for it today.”</p>

                    <p class="text-shedow1">As the Principal of the School, I feel honored and privileged to be a part of APS, Mumbai that has a long standing tradition of excellence in academics, Sports, state-of-the art infrastructure and facilities. read more....</p>

                    <p class="text-shedow1">Mrs. Lakshmi Madhuri Chatti.</p>
                    <p class="text-shedow1">Principal </p>
                </div>

                <div class="about-image mobile-vieww">
                    <img src="~/website/html/assets/img/about.png" class="image-responsive" alt="">
                </div>


            </div>

        </div>
    </section>
</div>

<!-- End About Us Section -->
<!-- ======= Gallery Section ======= -->

<div id="gallery" class="gallery mb-3" style="background-image: url(/website/html/assets/img/gallerrybg.png); background-size: cover; background-position: center center;">

    <div class="container">

        <h3 class="text-center block-title text-red">Gallery</h3>
        <div class="row wow fadeInUp">
            <div class="text-center">

                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="#">
                            <img src="~/website/html/assets/img/gallery/gallery-1.png" class="img-fluid px-4 bgbackgrjclr" alt="Logo">
                            <p class="">Yoga Day</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/website/html/assets/img/gallery/gallery-2.png" class="img-fluid px-4 bgbackgrjclr" alt="Logo">
                            <p class="">Events Day</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/website/html/assets/img/gallery/gallery-3.png" class="img-fluid px-4 bgbackgrjclr" alt="Logo">
                            <p class="">Achievements</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/website/html/assets/img/gallery/gallery-4.png" class="img-fluid px-4 bgbackgrjclr" alt="Logo">
                            <p class="mt-2 mb-3">Inauguration</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/website/html/assets/img/gallery/gallery-1.png" class="img-fluid px-4 bgbackgrjclr" alt="Logo">
                            <p class="">Yoga Day</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/website/html/assets/img/gallery/gallery-2.png" class="img-fluid px-4 bgbackgrjclr" alt="Logo">
                            <p class="">Events Day</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/website/html/assets/img/gallery/gallery-3.png" class="img-fluid px-4 bgbackgrjclr" alt="Logo">
                            <p class="">Inauguration</p>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/website/html/assets/img/gallery/gallery-4.png" class="img-fluid px-4 bgbackgrjclr" alt="Logo">
                            <p class="">Events Day</p>
                        </a>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Gallery Section -->
<!-- ======= Download & Vacancies Section Start ======= -->


<section id="download-section" class="download-section">
    <div class="container">

        <div class="dis-flex">
            <div class="downloads">
                <div class="card">
                    <div class="card-body">
                        <div class="csrddiv">
                            <h3 class="text-white">Downloads</h3>

                            <div class="">
                                <marquee onMouseOver="this.stop()" onMouseOut="this.start()" width="100%" direction="up">
                                    @{
                                        if (downloads != null)
                                        {
                                            foreach (var item in downloads)
                                            {
                                                var ispdfavailable = (item.Name == null || item.Name == "") ? "#" : "../image/download/" + item.Name;
                                                var longDateValue = @item.Date.ToString("dd MMM yyyy");
                                                                        <a target="_blank" href="@ispdfavailable">
                                                                            <div class="dis-flex flex-align-items-center bg-purple item">
                                                                                <div class="pdf-icon">
                                                                                    <img class="image-responsive w-50" src="~/website/html/assets/img/pdf-icons.png" alt="pdf icons">
                                                                                </div>
                                                                                <div class="pdf-description">
                                                                                    <p class="text-white date"> <i class="bx bx-chevron-right text-white"></i>@longDateValue</p>
                                                                                    <p class="text-white name">@item.Description</p>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                            }
                                        }
                                    }


                                    @*<div class="dis-flex flex-align-items-center bg-purple item">
                                        <div class="pdf-icon">
                                            <img class="image-responsive w-50" src="~/website/html/assets/img/pdf-icons.png" alt="pdf icons">
                                        </div>
                                        <div class="pdf-description">
                                            <p class="text-white date"> <i class="bx bx-chevron-right text-white"></i>Aug 27 2023</p>
                                            <p class="text-white name">Lorem Ipsum is a placeholder text commonly</p>
                                        </div>
                                    </div>

                                    <div class="dis-flex flex-align-items-center bg-purple item">
                                        <div class="pdf-icon">
                                            <img class="image-responsive w-50" src="~/website/html/assets/img/pdf-icons.png" alt="pdf icons">
                                        </div>
                                        <div class="pdf-description">
                                            <p class="text-white date"> <i class="bx bx-chevron-right text-white"></i>Aug 27 2023</p>
                                            <p class="text-white name">Lorem Ipsum is a placeholder text commonly</p>
                                        </div>
                                    </div>

                                    <div class="dis-flex flex-align-items-center bg-purple item">
                                        <div class="pdf-icon">
                                            <img class="image-responsive w-50" src="~/website/html/assets/img/pdf-icons.png" alt="pdf icons">
                                        </div>
                                        <div class="pdf-description">
                                            <p class="text-white date"> <i class="bx bx-chevron-right text-white"></i>Aug 27 2023</p>
                                            <p class="text-white name">Lorem Ipsum is a placeholder text commonly</p>
                                        </div>
                                    </div>*@
                                </marquee>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="image col-lg-6 order-1 order-lg-2" > -->
            <!-- Vacations Section Start -->
            <div class="vacancies">



                <div class="card">
                    <div class="card-body">
                        <div class="csrddiv">
                            <h3 class="text-white">Vacancies</h3>

                            <div class="">
                                <marquee onMouseOver="this.stop()" onMouseOut="this.start()" width="100%" direction="up">
                                    @{
                                        if (downloads != null)
                                        {
                                            foreach (var item in vacancies)
                                            {
                                                var ispdfavailable = (item.Name == null || item.Name == "") ? "#" : "../image/vacancie/" + item.Name;
                                                var longDateValue = @item.Date.ToString("dd MMM yyyy");
                                                                        <a target="_blank" href="@ispdfavailable">
                                                                            <div class="dis-flex flex-align-items-center bg-purple item">
                                                                                <div class="pdf-description">
                                                                                    <p class="text-white date"> <i class="bx bx-chevron-right text-white"></i>@longDateValue</p>
                                                                                    <p class="text-white name">@item.Description</p>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                    }
                                             }
                                        }


                                                    @*<div class="dis-flex flex-align-items-center bg-purple item">
                            <div class="pdf-description">
                                <p class="text-white date"> <i class="bx bx-chevron-right text-white"></i>Aug 27 2023</p>
                                <p class="text-white name">Lorem Ipsum is a placeholder text commonly</p>
                            </div>
                        </div>

                        <div class="dis-flex flex-align-items-center bg-purple item">
                            <div class="pdf-description">
                                <p class="text-white date"> <i class="bx bx-chevron-right text-white"></i>Aug 27 2023</p>
                                <p class="text-white name">Lorem Ipsum is a placeholder text commonly</p>
                            </div>
                        </div>

                        <div class="dis-flex flex-align-items-center bg-purple item">
                            <div class="pdf-description">
                                <p class="text-white date"> <i class="bx bx-chevron-right text-white"></i>Aug 27 2023</p>
                                <p class="text-white name">Lorem Ipsum is a placeholder text commonly</p>
                            </div>
                        </div>*@
                                            </marquee>

                            </div>


                        </div>
                    </div>
                </div>


                </marquee>
            </div>
            <!-- vacations Section End -->
            <!-- </div> -->
        </div>

    </div>
</section>

<!-- Download & Vacancies Section End -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="dis-flex flex-align-items-center">

            <div class="enquiry-form">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">

                    <h5 class="clr-red text-center module-title">Admission Enquiry</h5>

                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Name*" required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="E-mail*" required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject*" required="">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="3" placeholder="Your Message" required=""></textarea>
                    </div>
                    <div class="">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-start"><button type="submit">SEND MESSAGE</button></div>
                </form>
            </div>

            <div class="map">
                <div class="info-box">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3774.664138015311!2d72.81176097363127!3d18.901975382267025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1849eac77d7%3A0xab94579500e3fa4c!2sArmy%20Public%20School!5e0!3m2!1sen!2sin!4v1687093536984!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>



        </div>

    </div>
</section><!-- End Contact Section -->
