@model IEnumerable<aspm.Models.Tcs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var temphtml = ViewBag.tcs;
    string clsName = "";
    int counter = 0;

}
<style>
    .inputclass {
        width:100%;
    }
</style>
<div class="section section-projects single-project section-pad">
    <div class="container">
        <div class="content row">

            @using (Html.BeginForm("Index", "TcMVC", FormMethod.Post))
            {
            <div class="project-info">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Transfer Certificate (TC)</h1>
                    </div>
                    <div class="col-lg-6 pull-right">
                        <div class="col-lg-8">

                            @Html.TextBox("admno", "", new { style = "width:100%; ", placeholder = "Enter admno to search", @type = "number" })
                            @*@Html.TextBox("admno", new { style = "width:100%" })*@
                        </div>
                        <div class="col-lg-2">
                            <input type="submit" value="Search" />
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p align='center'>&nbsp;</p> <p align='center'><strong>TC ISSUE LIST</strong></p>
                        <table border='1' cellspacing='5' cellpadding='5' align='center' style='padding: 10px; width: 100%; '>
                            <thead>
                                <tr style='height: 59px; background-color:#9dbaeb'>
                                    <td style='height: 59px;' width='46'><p align='center'><strong>Sl&nbsp;</strong><strong>No</strong></p></td>
                                    <td style='height: 59px;' width='66'><p align='center'><strong>Adm No</strong></p></td>
                                    <td style='height: 59px;' width='174'><p align='center'><strong>Name</strong></p></td>
                                    <td style='height: 59px;' width='48'><p align='center'><strong>Class</strong></p></td>
                                    <td style='height: 59px;' width='162'><p align='center'><strong>Fathers Name</strong></p></td>
                                    <td style='height: 59px;' width='55'><p align='center'><strong>TC NO</strong></p></td>
                                    <td style='height: 59px;' width='83'><p align='center'><strong>Session&nbsp;</strong><strong>Year</strong></p></td>

                                </tr>
                            </thead>
                            <tbody style='padding:10px'>
                                @{
                                    int clscount = 1;
                                }
                                @{ if (Model != null)
                                    {
                                        foreach (var a in Model)
                                        {

                                            <tr style='height: 59px;'>
                                                <td style='height: 59px;' width='46'><p align='center'>@clscount</p></td>
                                                <td style='height: 59px;' width='46'><p align='center'>@a.AdmNo</p></td>
                                                <td style='height: 59px;' width='174'><p align='center'>@a.Name</p></td>
                                                <td style='height: 59px;' width='48'><p align='center'>@a.ClassName</p></td>
                                                <td style='height: 59px;' width='162'><p align='center'>@a.FatherName</p></td>
                                                <td style='height: 59px;' width='55'><p align='center'>@a.TcNo</p></td>
                                                <td style='height: 59px;' width='83'><p align='center'>@a.SessionYear</p></td>
                                            </tr>
                                            clscount++;
                                        }
                                    }
                                }

                            </tbody></table>

                    </div>
                </div>
            </div>

            }





                @*<div class="project-info">



                    <div class="row">
                        <div class="col-md-12 col-sm-12">

                            @{
                                var results = from p in Model
                                              group p by p.ListId into g
                                              select new { plist = g.Key, listdata = g.ToList() };

                                foreach (var item in results)
                                {
                                    int clscount = 1;
                                    <p align='center'>&nbsp;</p> <p align='center'><strong>TC ISSUE LIST-  @item.plist </strong></p>
                                    <table border='1' cellspacing='5' cellpadding='5' align='center' style='padding: 10px; width: 100%; '>
                                        <thead>
                                            <tr style='height: 59px; background-color:#9dbaeb'>
                                                <td style='height: 59px;' width='46'><p align='center'><strong>Sl&nbsp;</strong><strong>No</strong></p></td>
                                                <td style='height: 59px;' width='66'><p align='center'><strong>Adm No</strong></p></td>
                                                <td style='height: 59px;' width='174'><p align='center'><strong>Name</strong></p></td>
                                                <td style='height: 59px;' width='48'><p align='center'><strong>Class</strong></p></td>
                                                <td style='height: 59px;' width='162'><p align='center'><strong>Fathers Name</strong></p></td>
                                                <td style='height: 59px;' width='55'><p align='center'><strong>TC NO</strong></p></td>
                                                <td style='height: 59px;' width='83'><p align='center'><strong>Session&nbsp;</strong><strong>Year</strong></p></td>

                                            </tr>
                                        </thead>
                                        <tbody style='padding:10px'>

                                            @foreach (var a in item.listdata)
                                            {
                                                <tr style='height: 59px;'>
                                                    <td style='height: 59px;' width='46'><p align='center'>@clscount</p></td>
                                                    <td style='height: 59px;' width='46'><p align='center'>@a.AdmNo</p></td>
                                                    <td style='height: 59px;' width='174'><p align='center'>@a.Name</p></td>
                                                    <td style='height: 59px;' width='48'><p align='center'>@a.ClassName</p></td>
                                                    <td style='height: 59px;' width='162'><p align='center'>@a.FatherName</p></td>
                                                    <td style='height: 59px;' width='55'><p align='center'>@a.TcNo</p></td>
                                                    <td style='height: 59px;' width='83'><p align='center'>@a.SessionYear</p></td>
                                                </tr>
                                                clscount++;
                                            }
                                        </tbody>
                                    </table>
                                    counter++;
                                }
                            }




                        </div>

                    </div>
                    <div class="clear"></div>
                    <div class="gaps size-md"></div>

                </div>*@
                <hr>


            </div>
    </div>
</div>

